POSTGRES_DB=gpay
POSTGRES_USER=gpay
POSTGRES_PASSWORD=gpay

REDIS_HOST=redis
REDIS_PORT=6379

JWT_SECRET=change-this-secret-minimum-32-characters-long
JWT_ACCESS_TOKEN_EXPIRATION_MINUTES=15
JWT_REFRESH_TOKEN_EXPIRATION_DAYS=7

MAX_DAILY_TRANSFER_AMOUNT=10000000

GATEWAY_WEBHOOK_SECRET=change-this-gateway-secret
